

src/_*
src/*.d
src/*.o
src/*.asm
src/*.sym
src/*.img
src/vectors.S
src/bootblock
src/entryother
src/initcode
src/initcode.out
src/kernel
src/kernelmemfs
src/mkfs
src/.gdbinit
.vscode/settings.json

